<style>
    .teste{
        color: blueviolet;
        text-align: center;
        border: 2px solid goldenrod;
        margin-top:  100px;
    }
     
         body{
    background-color: rgb(230, 240, 240);
 }
 h1{
    color: rgb(24, 144, 248);
    text-align: center;
 }
 p{
    font-family: Verdana;
    font-size: 20px;
 }
   </style>